#[derive(Debug, Clone, Serialize, Deserialize, PartialEq)]
#[serde(rename_all = "snake_case")]
pub enum {{ name | pascal_case }} {
    {%- for value in enum %}
    {{ value | pascal_case }},
{%- endfor %}
}